@{
    ViewData["Title"] = "Page Not Found";
    <link rel="stylesheet" href="~/css/errors.css" asp-append-version="true" />
}

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-1">404</h1>
        <p class="lead">Oops... Page not found</p>
        <hr class="my-4">
        <p>It looks like the page you're trying to access does not exist.</p>
        <a class="btn btn-primary btn-lg" href="/">Back to Home</a>
    </div>
</div>
